<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.winning.mars_consumer">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application>
        <receiver android:name=".monitor.uploader.WakeCPUReceiver"/>
        <service android:name=".monitor.uploader.JobSchedulerService"
            android:exported="true"
            android:enabled="true"
            android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:name=".monitor.uploader.WorkService"/>
        <provider android:name=".monitor.storage.PreferenceProvider"
                  android:enabled="true"
                  android:authorities="com.winning.marsConsumer.PreferenceProvider" />
    </application>
</manifest>